
Dump.cpp.save
Dump.cpp
Ctor.h
Ctor.cpp.save
Ctor.cpp
main.cpp.save
main.exe
Pop.cpp
Pop.cpp.save
Pop.h
Push.cpp
Push.cpp.save
Push.h
Stack.cpp.save
Stack.h.save
test.exe
Untitled1.cpp
Untitled1.exe
Verificator.cpp
